---
---

@import "{{ site.theme }}";

.list-left {
    @include small {
        margin-bottom: 0;   
    }

    @include medium{
        float: left;
    }

    @include large{
        float: left;
    }
}

.list-right {
    @include medium{
        position: absolute;
        left: 55%;
    }

    @include large {
        position: absolute;
        left: 55%;
    }
}

.project-tagline {
    text-align: justify;
}

@media screen and (min-width: 64em) {
    .project-tagline {
        max-width: 64rem;
        padding: 2rem 6rem;
        margin: 0 auto;
        font-size: 1.1rem
    }
}

.right {
    text-align: right;
}
