---
---

@import "{{ site.theme }}";

.list-left {
    @include small {
        margin-bottom: 0;   
    }

    @include medium{
        float: left;
    }

    @include large{
        float: left;
    }
}

.list-right {
    @include medium{
        position: absolute;
        left: 55%;
    }

    @include large {
        position: absolute;
        left: 55%;
    }
}